.nav-forum{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content:center;
    gap: 3.2rem;
   
}

.nav-forum li{
    background: #39FF14;
    list-style: none;
    padding: .3rem;
    border-radius: 3px;
    margin-bottom: 50px;
    
}
.nav-forum li .link{
    color: #140220;
    font-size: 14px;
    font-weight: bold;
}


.textarea{
    width: 100%;
    margin: 0 auto;
    height: 300px;
  

  
   
}

.main-fanfics{
    height:100%;
  
    width: 100%;
    display: flex;
}

.insert-text{
    height: 400px;
    width: 600px;
    padding: 1.2rem;
    border: none;
    color: white;
    outline: none;
    background: rgb(83, 81, 81);
    font-size: 20px;
    border-radius: 3px;
    border-radius: 8px;
    border: solid 1px #39ff14;
    box-shadow:
    0 0 3px #39FF14, 
    0 0 9px #39FF14,
    0 0 50px #39FF14;
}
.label{
    color: white;
}
.form-forum{
    width: 100%;
    display: flex;;
    flex-direction: column;
    align-items: center;
}
.insert-text-title{
    text-align: center;
    width: 300px;
    padding: 1rem;
    border: none;
    outline: none;
    box-shadow: 0px 0px 35px , 0px 0px 15px #5b1766 inset;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 30px;
    
  }
.sidebar-fanfics{
    width: 20%;
    margin-left: 60px;
    border: solid 1px #39ff14;
    box-shadow:
    0 0 3px #39FF14, 
    0 0 9px #39FF14,
    0 0 50px #39FF14;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  
    
}

.sidebar-fanfics p{
    color: white;
    font-size:19px;
    border-bottom-color: #39FF14 ;
    margin: 15px 0;
    padding: .5rem;
    cursor: pointer;
}
.container-forum{
    margin: 0 auto;
    padding-top: 140px;
    width: 100%;
    display:flex;
}




.section{
   padding-top: 10px;
    width:100%;
    height:100vh;
    margin: 0 auto;
}


.btn-send{
    transition: all .3s ease-in-out;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 3px;
 cursor: pointer;
 border: none;
  padding: 1rem;
  width: 240px;
  border: 3px solid #39FF14;
    box-shadow: 0px 0px 35px #39FF14, 0px 0px 15px #D705F2 inset;
    background: #190125;
}

/* posts css*/
.container-posts{
    border: solid 1px #39ff14;
    box-shadow:
    0 0 3px #39FF14, 
    0 0 9px #39FF14,
    0 0 50px #39FF14;
    margin: 0 300px 0px 100px;
width: 70%;


}
/* edit carousel*/

.cards-titles{
    color: #140220;
   
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background: #39FF14;
    width: 300px;
    height: 50px;
}
.rec-slider-container{
   height: 100%;
}

.sc-eCImPb .jMNKZk {
    height: 100vh;
}