body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #01000D;
}
#links{
    text-decoration: none;
    color: #39ff14;
    font-weight: normal;
}
#links:hover{
    color: #AB05F2;
    background: #39FF14;
    box-shadow:
    0 0 10px #39FF14, 
    0 0 40px #39FF14,
    0 0 80px #39FF14;
}
#to-galery{
    list-style: none;
    margin: 20px;
    padding: 10px 0px;
    color: #39FF14;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 16px;
    transition: .8s;
}
 #to-galery:hover{
    color: #AB05F2;
    background: #39FF14;
    box-shadow:
    0 0 10px #39FF14, 
    0 0 40px #39FF14,
    0 0 80px #39FF14;
}
#pai{
    padding-top:140px;
    width: 70%;
    margin:0 auto;
}
#pai2{
    display: flex;
    justify-content:space-around;
}
#pai3{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#text1 {
    max-width: 450px;
    text-align: center;
    color: white;
    font-size: larger;
    margin-top: 80px;
}
#text2{ 
    max-width: 450px;
    text-align: center;
    color: white;
    font-size: larger;
    margin-top: 100px;
}
#img{
    max-width: 450px;
    margin: 30px;
    border-radius: 5px;
    border: 2px  solid #74E452;
    box-shadow: 0px 0px 35px #74E452, 0px 0px 15px #74E452 inset;
}

@media (max-width: 700px) {
    #pai{
        padding-top: 70px;
        width: 100%;
        display: block;
    }
    #pai2, #pai3{
        display: block; 
    }
    #text1, #text2{
        padding: 20px;
        margin-left: 30px;
        width: 500px;
    }
    figure img{
        margin: 0 auto;
    }
    #link-to-galery{
        margin: auto;
    }
}