body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #01000D;
}
#links{
    text-decoration: none;
    color: #39ff14;
    font-weight: normal;
}

#to-galery, a{
    list-style: none;
    padding: 10px;
 
    color: #39FF14;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 16px;
    transition: .8s;
}
 #to-galery:hover{
    color: black;
    background: #39FF14;
    border-radius: 8px;
    box-shadow:
    0 0 10px #39FF14, 
    0 0 40px #39FF14,
    0 0 80px #39FF14;
}

#pai{
    padding-top:140px;
    width: 70%;
    margin:0 auto;
}
#pai2{
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-bottom: solid 3px #3535359f;
    margin:0 auto;
}
#pai3{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin:0 auto;
}
#text1 {
    max-width: 450px;
    text-align: center;
    color: white;
    font-size: larger;
    margin-top: 60px;
}
#text2{ 
    display: flex;
    width: 500px;
    text-align: center;
    color: white;
    font-size: larger;
    margin-top: 20px;
    flex-direction: column;
}
.linkGaleria{
    background:  #39FF14;;
}

#img1{
   
    height:250px;
    width: 450px;
    margin-bottom: 80px;
    border-radius: 5px;
    border: 2px  solid #74E452;
    box-shadow: 0px 0px 35px #74E452, 0px 0px 15px #74E452 inset;
}


#img2{
    height:250px;
    width: 450px;
    margin-top: 0px;
    border-radius: 5px;
    border: 2px  solid #74E452;
    box-shadow: 0px 0px 35px #74E452, 0px 0px 15px #74E452 inset;
}

@media (max-width: 760px) {
    #pai{
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pai2, #pai3{
        display: flex; 
       
        flex-direction: column;
        align-items: center;
    }
    #text1, #text2{
        width: 100%;
        
     
    }
    #img1{
   
      
    }
    #link-to-galery{
     
    }
}


.text-about{
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-shadow: 1px 1px 1px white;
}

@media (max-width: 1360px){
    #pai{
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pai2,#pai3{
       
            display: flex; 
            flex-direction: column;
            align-items: center;
           
       
    }
    #text1{
        
        width: 100%;
    }

}

