
.rec-slider-container{
    display: flex;
    box-shadow: 3px 3px 20px #39ff14;
    border-top: 3px solid #39ff14;
    border-bottom: 3px solid #39ff14;
    max-width: 80%;
}


.rec-carousel{
    display: flex;
    justify-content: center;
}

.rec-carousel-item:hover{
    transform: scale(1.1);
}

.rec{
    transition: all 0.3s ease-out;
}

button.rec-dot{
    background-color: white;
  
    width: 20px;
    height: 20px;
  }
  
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 1px 3px #39ff14;
 
  }


  button.rec-arrow{
    background: white;
   
    box-shadow: 0 0 1px 3px #39ff14;
  }


  button.rec-arrow:hover{
    background-color: rgb(10, 112, 56);
    box-shadow: 0 0 1px 3px #39ff14;
  
  }

  .container-welcome{
    height: 200px;
    padding: 10px;
  }