.rec-carousel{
  
    display: flex;
    justify-content: center;
}

.rec-carousel-item:hover{
    transform: scale(1.1);
}

.rec{
    transition: all 0.3s ease-out;
}

.imgCarousel{
  width: 190px;
  cursor: pointer;
}
.container{
    padding-top:140px ;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

p{
    color: white;
}
.container-dimensoes{

    font-size: 20px;
    color:white;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    z-index: 20;
}

.form{
    display: flex;
    margin:0 0 70px 0;
}
.typeselect{
    
    margin: 0 auto;
    background: green;
    color: white;
    border: 1px solid green;
    border-radius: 2px;
    outline: none;
    padding:.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    
}
.typeselect option{
    display: inline-flex;
}

.rec{
    margin-bottom: 20px;
}