.link{
    position: relative;
    display: inline-block;
    padding: .8rem;
    color: #39ff14;;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
}
 .link:hover{
    color: #D705F2;
    background: #39ff14;
    box-shadow:
    0 0 10px #39ff14, 
    0 0 40px #39ff14,
    0 0 80px #39ff14;
    transition-delay: .0s;
}
.link span{
    position: absolute;
    display: block;

}
/* parte de cima da animação */
.link span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;

    background: linear-gradient(90deg, transparent, #39ff14);

    background: linear-gradient(90deg, transparent, #D705F2);

}
.link:hover span:nth-child(1){

    background: linear-gradient(90deg, transparent, #D705F2);
}
a:hover span:nth-child(1){

    left: 100%;
    transition: 1s;
}
/* parte de baixo da animação */
.link span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;

    background: linear-gradient(270deg, transparent, #39ff14);

    background: linear-gradient(270deg, transparent, #D705F2);

}
.link:hover span:nth-child(3){

    background: linear-gradient(270deg, transparent, #D705F2);
}
a:hover span:nth-child(3){

    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
/* parte da direita da animação */
.link span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;

    background: linear-gradient(180deg, transparent, #39ff14);
}
.link:hover span:nth-child(2){

    background: linear-gradient(180deg, transparent, #D705F2);
}
a:hover span:nth-child(2){

    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
/* parte da esquerda da animação */
.link span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;

    background: linear-gradient(360deg, transparent, #39ff14);
}
.link:hover span:nth-child(4){
    bottom: 100%;
    transition: .3s;

    background: linear-gradient(360deg, transparent, #D705F2);
}
a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;

    transition-delay: 0.75s;
}