.rec.rec-arrow:disabled {
    visibility: hidden;
}
header, ul {
    margin: 0px;
    padding: 0px;
}
#div-header{
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.5074404761904762) 79%, rgba(0,0,0,0.11528361344537819) 100%);
}
.link a{
    text-decoration: none;
}
#logo{
    max-width: 200px;
    height: 100px;
    padding-bottom: 20px;

}
#icon-menu{
    width: 50px;
}
#header{

    height: 70px;
    padding: 1rem;
    width: 100%;
    margin: -8px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    list-style: none;
    gap: 1rem;

}
#menu .link{
    display: block;

}
#btn-menu{
    display: none;
    width: 100px;
    height: 70px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  

}

@media (max-width: 600px) {
    
    #btn-menu{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 100px;
        top:0;
        right: 0px;
        height: 0px;
        transition: 0.6s;
        background: rgba(0, 0, 0, 0.87);
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;

    }

}