.rec.rec-arrow:disabled {
    visibility: hidden;
}
header, ul {
    margin: 0px;
    padding: 0px;
}
#div-header{
    position: fixed;
    width: 100%;
    background:#0b000cfb;
}
.link a{
    text-decoration: none;
    font-size: 12px;
}
#logo{
    max-width: 200px;
    height: 100px;
    padding-bottom: 20px;

}
#icon-menu{
    width: 50px;
}
#header{

    height: 100px;
    padding: 1rem;
    
    width: 100%;
    margin: -8px;
    margin: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#menu{
    display: flex;
    list-style: none;
    gap: .3rem;
    

}
#menu .link{
    display: block;

}
#btn-menu{
    display: none;
    width: 100px;
    height: 70px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  

}

@media (max-width: 1000px){
    #header{
        justify-content: space-between;
    }

}

@media (max-width: 700px) {
  
  
    #btn-menu{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 100px;
        top:0;
        right: 0px;
        height: 0px;
        transition: 0.6s;
        background: rgba(0, 0, 0, 0.87);
        z-index: 10000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;

    }

}