body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fot{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

#paragrafoFooter{
    color: #fff;   
}

#linkk{
    color: #39FF14;
}

