#body{
  background-image: url(./img/712660.jpg);
  background-attachment: fixed;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sec-title{
  background-color: #0000003f;
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
  display: flex;
  align-items: center;
}
#sec-title2{
  background-color: #0000007a;
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
  display: flex;
  align-items: center;
}
#title{
  padding: 50px;
  font-size: 4em;
  color: white;
  text-shadow: 9px 9px 9px #000000;
  max-width: 600px;
}
#end-title{
  text-shadow: 9px 9px 9px black;
  padding: 50px;
  max-width: 600px;
}
.sections{
  background: #031321;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
}
#text1, #text2{
  padding: 50px;
  max-width: 600px;
}
.box{
  background-color: blanchedalmond;
}
h1{
  font-size: 2.5em;
}
p{
  font-size: 1.4em;
}
#portal{
  width: 500px;
}
#box-heads{
  display: flex;
  justify-content: space-between;
}
.heads{
  max-width: 350px;
}

#gifcell{
  max-width: 200px;
  border-radius: 14px;
  border: solid 6px rgb(22, 22, 22);
  box-shadow: 4px 4px 15px black;
}
#squanch{
  max-width: 300px;
}

@media (max-width: 800px) {
  #title{
      text-align: center;
  }
  #end-title{
      text-align: center;
  }
  #sec-title2{
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 120vh;
  }
  #gifcell{
      width: 150px;
      margin-left: 0px;
  }
  #squanch{
      display: none;
  }
  
  .sections{
      display: flex;
      flex-direction: column;
      height: 135vh; 
      text-align: center;  
      width: 100%;     
  }
  #portal{
      max-width: 300px;
      padding: 20px;
  }
  #box-heads{
      display: none;
  }

}