  
  @keyframes animeBtn{

    0%{
      transform: rotate(0deg);
  }
 
 
  100%{
 
      transform: rotate(360deg);
    }
  }
  
  
  
  
  #containerHome{
    text-shadow: 0px 0px 5px #D705F2;
    width: 70%;
    margin: 0 auto;
  }
  .img_container{
    width: 50%;
    display: flex;
   
  }

  .gifHead{
    width: 250px;
  }
  .container_text{

    height: 500px;
    display: flex;
    padding:60px 40px;
    text-align: center;
    line-height: 45px;
    flex-direction: column;
    align-items: center;
  
    

    width: 50%;
    color:white;
    font-size: 22px;
    border: 3px solid #D705F2;
    box-shadow: 0px 0px 35px #D705F2, 0px 0px 15px #D705F2 inset;

  }
  .text-prepare{
    transform: rotate(-5deg);
    line-height: 50px;
  }
.button_started{
  transition: all .3s ease-in-out;
  margin-top: 80px;
  font-weight: bold;
  font-size: 20px;
  color: #140220;
  border-radius: 10px;
 cursor: pointer;
  padding: 1rem;
  width: 240px;
  transform: rotate(-5deg);
  background: #39FF14;
  animation: animeBtn 1.5s;
 
  
       
}
.container_text2{
  height: 500px;
  color: white;
  display: flex;
  padding:100px 100px;
  text-align: center;
  line-height: 45px;
  flex-direction: column;
  align-items: center;
}
.img-personas{
  width: 500px;
  padding: 10px;
  
  border: 3px solid #39FF14;
  box-shadow: 0px 0px 35px #39FF14, 0px 0px 15px #D705F2 inset;
}

.container-topo{
  display: flex;
  align-items: center;
  height: 90%;
}

.icon-down{
  width: 50px;
 
}

.container-down{
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.button_started:hover{
  
  
  transform: rotate(-10deg);

}


.button_started2{
  transition: all .3s ease-in-out;
  margin-top: 80px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 10px;
 cursor: pointer;
  padding: 1rem;
  width: 240px;
  transform: rotate(-5deg);
  background: #D705F2;
  animation: animeBtn 1.5s;
}
.button_started2:hover{
  transform: rotate(-10deg);

}
  .img_black{
    margin-left: 130px;
    width: 350px;
    padding-top: -20px;
    margin-bottom: 120px;
  }

  .img_tabela{
    width: 450px;
  }
  #body{

    background-attachment: fixed;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10vh;
  }
  #sec-title{

    
    border-bottom: solid 3px #ffffffad;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }


  .container_text3{
    height: 500px;
    color: white;
    display: flex;
    padding:100px 100px;
    text-align: center;
    line-height: 45px;
    flex-direction: column;
    align-items: center;
  }
  #sec-title1{

  
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#title{
  padding: 50px;
  font-size: 3em;
  color: white;
  text-shadow: 9px 9px 9px #000000;
  max-width: 50vw;
}
#end-title{
  color: white;
  text-shadow: 9px 9px 9px black;
  padding: 50px;
  max-width: 600px;
}
.sections{
  animation: gradient 10s ease alternate infinite;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
}

#sec-title3{
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#text1, #text2{
  padding: 50px;
  max-width: 600px;
}
.box{
  background-color: blanchedalmond;
}
#h1{
  font-size: 2.2em;
  padding: 15px;
}
#h2{
  padding: 20px;
}
#p{
  font-size: 1.4em;
}
#sms-link{
  font-size: 14px;
  padding: 20px;
}
#portal{
  width: 500px;
}
#box-heads{
  display: flex;
  justify-content: space-between;
}
.heads{
  max-width: 350px;
}
#gifcell{
  max-width: 200px;
  border-radius: 14px;
  border: solid 6px rgb(22, 22, 22);
  box-shadow: 4px 4px 15px black;
  
}
#squanch{
  max-width: 300px;
  margin-left: 200px;
}

#link{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
  color: white;
  padding: 10px;
  margin: 10px;
  background: #0000003e;
}
#link:hover{
  color: #AB05F2;
    background: #39FF14;
    box-shadow:
    0 0 10px #39FF14, 
    0 0 40px #39FF14,
    0 0 80px #39FF14;
    transition: 1s;
}

@media (max-width: 800px) {
  #title{
      font-size: 4em;
      margin: auto;
      text-align: center;
  }
  #end-title{
      text-align: center;
  }
  #sec-title2{
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 110vh;
  }
  h1{
    font-size: 1.8em;
    width: 100%;
  }
  #gifcell{
      width: 150px;
      margin-left: 0px;
  }
  #squanch{
      display: none;
  }
  
  .sections{
      display: flex;
      flex-direction: column;
      height: 135vh; 
      text-align: center;  
      width: 100%;     
  }
 
  #box-heads{
      display: none;
  }
  #link{
    margin: auto;
    white-space: nowrap;
  }
}