  #containerHome{
    width: 70%;
    margin: 0 auto;
  }
  .img_container{
    width: 50%;
   
  }


  .container_text{
    height: 500px;
    display: flex;
    padding:60px 40px;
    text-align: center;
    line-height: 45px;
    flex-direction: column;
    align-items: center;
  
    width: 50%;
    color:white;
    font-size: 22px;
    border: 3px solid #D705F2;
    box-shadow: 0px 0px 35px #D705F2, 0px 0px 15px #D705F2 inset;

  }
.button_started{
  margin-top: 80px;
  font-weight: bold;
  font-size: 16px;
  color: #35123a;
  border-radius: 10px;
  padding: 1.2rem;
  width: 200px;
  background: #39FF14;
 
  
       
}
  .img_black{
    margin-left: 100px;
  }
  #body{

    background-attachment: fixed;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10vh;
  }
  #sec-title{

    
    border-bottom: solid 3px #ffffffad;
    height: 90vh;
    display: flex;
    align-items: center;
   
  }
  #sec-title2{

  
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
  display: flex;
  align-items: center;
}
  .img_black{
  padding-bottom: 150px;
}

#title{
  padding: 50px;
  font-size: 3em;
  color: white;
  text-shadow: 9px 9px 9px #000000;
  max-width: 50vw;
}
#end-title{
  color: white;
  text-shadow: 9px 9px 9px black;
  padding: 50px;
  max-width: 600px;
}
.sections{
  animation: gradient 10s ease alternate infinite;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px #ffffffad;
  height: 90vh;
}
#text1, #text2{
  padding: 50px;
  max-width: 600px;
}
.box{
  background-color: blanchedalmond;
}
#h1{
  font-size: 2.2em;
  padding: 15px;
}
#h2{
  padding: 20px;
}
#p{
  font-size: 1.4em;
}
#sms-link{
  font-size: 14px;
  padding: 20px;
}
#portal{
  width: 500px;
}
#box-heads{
  display: flex;
  justify-content: space-between;
}
.heads{
  max-width: 350px;
}
#gifcell{
  max-width: 200px;
  border-radius: 14px;
  border: solid 6px rgb(22, 22, 22);
  box-shadow: 4px 4px 15px black;
  
}
#squanch{
  max-width: 300px;
  margin-left: 200px;
}

#link{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
  color: white;
  padding: 10px;
  margin: 10px;
  background: #0000003e;
}
#link:hover{
  color: #AB05F2;
    background: #39FF14;
    box-shadow:
    0 0 10px #39FF14, 
    0 0 40px #39FF14,
    0 0 80px #39FF14;
    transition: 1s;
}

@media (max-width: 800px) {
  #title{
      font-size: 4em;
      margin: auto;
      text-align: center;
  }
  #end-title{
      text-align: center;
  }
  #sec-title2{
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 110vh;
  }
  h1{
    font-size: 1.8em;
    width: 100%;
  }
  #gifcell{
      width: 150px;
      margin-left: 0px;
  }
  #squanch{
      display: none;
  }
  
  .sections{
      display: flex;
      flex-direction: column;
      height: 135vh; 
      text-align: center;  
      width: 100%;     
  }
 
  #box-heads{
      display: none;
  }
  #link{
    margin: auto;
    white-space: nowrap;
  }
}